.container {
  width: 300px;
  padding: 20px;
}

input {
  width: 100%;
  margin-bottom: 10px;
}

.green-button {
  background-color: green;
  color: white;
}

.red-button {
  background-color: red;
  color: white;
}

#countdownDisplay {
  font-size: 18px;
  margin-top: 10px;
}
